.grid-container{
    display: grid;
    grid-template-rows: 300px 200px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.grid-item{
    border: 1px solid red;
}

.btn{
    background-color: blue;
    padding: 10px 20px ;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
}

.aceptar{
    background-color: green;
}

.aceptar:hover{
    background-color: greenyellow;
    color: black;
}

.peligro{
    background-color: red;
}

.peligro:hover{
    background-color: pink;
}

.advertencia{
    background-color: tomato;
}

.texto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bolder;
}

.texto1{
    font-family: Arial, Helvetica, serif;
    font-size: 2rem;
    font-weight: 900;
}

img{
    height: 250px;
    width: 250px;
}